body {
  background: black;
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.scorebox {
  display: flex;
  flex-direction: row;
}

.playerbox {
  border: white solid 1px;
  width: 50vh;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.name {
  display: flex;
  flex-direction: row;
  border-bottom: white solid 1px;
  justify-content: space-around;
  height: 6vh;
  text-align: center;
  justify-self: center;
  font-size: 25px;
  background-color: rgb(59, 59, 59);
}

.name p {
  margin: auto;
  margin-top: 13px;
}

.scoreTotal {
  text-align: center;
  font-size: 60px;
}

.scoreRack {
  height: 10vh;
  width: 50%;
  text-align: center;
}

.scoreRack p {
  font-size: 30px;
}

.scoreRack2 {
  border: white solid 1px;
  height: 10vh;
  width: 50%;
  float: right;
}

.bottom {
  border: white solid 1px;
  display: flex;
  flex-direction: row;
}

.buttons {
  width: 50%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid white;
}

.buttons2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  border-left: 1px solid white;
}

.buttons button {
  height: 50%;
}

.plus {
  background-color: green;
  border: none;
  border-bottom: black 1px solid;
  font-size: 40px;
}

.minus {
  background-color: red;
  border: none;
  font-size: 40px;
  padding-top: -5px;
}

.edit {
  position: relative;
  top: 4px;
}

.rackrem {
  text-align: center;
  margin: auto;
  border: white solid 1px;
}

.no-style-but {
  /* Remove all default stylings */
  background: none;
  border: none;
  padding: 0;
  margin: auto;
  font: inherit;
  cursor: pointer;
  outline: none;
  color: white;
  /* Add other styles as needed */
}

.input-reset {
  /* Reset default styles */
  border: none;
  outline: none;
  background-color: white;
  color: black;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  padding: inherit;
  margin: inherit;
  width: 50%;
  /* Add other styles as needed */
}
